<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :types_of_doc_id %>
  <%= form.select :types_of_doc_id , @types.collect {|c| [ c.id, c.id ] }%>
</div>

  <div class="field">
    <%= form.label :serial %>
    <%= form.text_field :serial %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :people_id %>
    <%= form.select :people_id , @peoples.collect {|c| [ c.last_name, c.id ] }%>

  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :countries_id %>
    <%= form.select :countries_id , @countries.collect {|c| [ c.name, c.id ] }%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
