<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @document.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @document.type %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @document.serial %>
</p>

<p>
  <strong>Source:</strong>
  <%= @document.source %>
</p>

<p>
  <strong>People:</strong>
  <%= @document.people_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @document.date %>
</p>

<p>
  <strong>Country:</strong>
  <%= @document.country %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
