<%= form_with(model: types_of_doc, local: true) do |form| %>
  <% if types_of_doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(types_of_doc.errors.count, "error") %> prohibited this types_of_doc from being saved:</h2>

      <ul>
      <% types_of_doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
