<p id="notice"><%= notice %></p>

<h1>Types Of Docs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @types_of_docs.each do |types_of_doc| %>
      <tr>
        <td><%= link_to 'Show', types_of_doc %></td>
        <td><%= link_to 'Edit', edit_types_of_doc_path(types_of_doc) %></td>
        <td><%= link_to 'Destroy', types_of_doc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Types Of Doc', new_types_of_doc_path %>
