<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :town %>
    <%= form.text_field :town %>
  </div>

  <div class="field">
    <%= form.label :index %>
    <%= form.text_field :index %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :flat %>
    <%= form.text_field :flat %>
  </div>

  <div class="field">
    <%= form.label :house %>
    <%= form.text_field :house %>
  </div>
  <div class="field">
    <%= form.label :country %>
    <%= form.select :country , @countries.collect {|c| [ c.name, c.id ] }%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
