<p id="notice"><%= notice %></p>

<p>
  <strong>Town:</strong>
  <%= @address.town %>
</p>

<p>
  <strong>Index:</strong>
  <%= @address.index %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Flat:</strong>
  <%= @address.flat %>
</p>

<p>
  <strong>House:</strong>
  <%= @address.house %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
